//- Used to define variables, this must be load in index.pug and each fragment Open Sans, Helvetica
block variables
  -var fallback = "Arial, sans-serif"
  -var title = "Email Template"
  -var white = "#ffffff"
  -var dark_gray = "#282828"
  -var max_w = 600
  -var mob = 480
  -var img_path = "./img/"
  -var bg_color= "#eeeeee"
  -var yellow= "#eacb3c"
  -var externalFonts = []
  -var light_gray= "#889098"
